.container-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    height: 90%;
    width: 40%;
}

.left{
    position: relative;
    width: 100%;
    height: 30%;
}

.right{
    /* background-color: red; */
    width: 100%;
    height: 70%;
}

.txtInpt{
    height: 5%;
    font-size: .7rem;
    width: 80%;
}

textarea{
    margin: 10px auto;
    height: 40%;
    font-size: .7rem;
    width: 80%;
}

.termsTxt{
    font-size: .65rem;
    
}

.btn{
    font-size: .7rem;
}